body{
    color: #333;
    font-family: sans-serif;
    background: #000;
}
input{
    display: block;
    padding: 9px;
    margin: 15px auto;
    box-sizing: border-box;
    border: none;
    border-top: 2px solid #48e;
    outline: none !important;
    background: transparent;
    transition: background 0.3s;
    width: 100%;
    color: #fff;
    font-weight: 700;
}

input::placeholder{
    color: #48e;
    transition: color 0.3s;
}

input:hover{
    background: #26a;
}

input:hover::placeholder{
    color: #fff;
}


input[type="submit"]{
    width: 60%;
    padding: 12px;
    background: #26a;
    color: #fff;
    margin-bottom: 12px;
    margin-top: 18px;
}

input[type="submit"]:hover{
    background: #048;
    cursor: pointer;
}
form{
    width: 86%;
    margin: auto;
    background: #013;
    padding: 20px;

    
}

h2{
    color: #fff;
    margin-bottom: 36px;

}

.green{
    color: #9c9;
}

.red{
    color: #c99;
}